.cart {
  max-width: 30rem;
  background-color: #313131;
  color: white;

  min-width: 40rem;
  max-height: 35rem;
  overflow: auto;
}

.cart h2 {
  font-size: 1.8rem;
}

.cart p {
  font-size: 1.3rem;
  margin: auto 0;
}

.cart button {
  height: 40px;
  margin: auto 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  
}