.container {
  padding: 0.9rem;
  max-width: 40rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.1rem;
}

.item {
    border: 1px solid rgba(128, 128, 128, 0.332);
    padding: 0.6rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 0.5rem 0px;
}
