.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #e74c3c; /* You can choose a suitable background color for errors */
  }
  
  .error-icon {
    font-size: 48px; /* Adjust the size of the icon as needed */
    color: #fff; /* You can choose a suitable color for the icon */
  }
  
  .spinning-icon {
    animation: spin 2s linear infinite;
  }
  
  .error-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
    color: #e74c3c; /* You can choose a suitable text color for errors */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  